body {
  background: #fff !important;
  font-family: 'Lato';
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  margin-bottom: 20px;
  position: fixed;
}

#schedule {
  color: white !important;
  flex: 1;
  margin-left: 300px;
}

.schedule-content {
  display: flex;
}

.drag-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1200px;
  margin: auto;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

.drag-column {
  width: 100px;
  flex: 1;
  margin: 0 10px;
  position: relative;
  background: #ddd;
  overflow: hidden;
}

@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
  .drag-list {
    display: block;
  }
}

.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.header1 .drag-column-header {
  background: #fb7d44;
}

.header2 .drag-column-header {
  background: #00b961;
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
}

.times li {
  background-color: #c1d1ee;
}

.class {
  opacity: 0.3;
  color: black;
}

.drag-item {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drag-item.is-moving {
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}


.schedule-input {
  border-radius: 5px;
  padding: 15px 0px;
  margin: 10px 5px;
  text-align: center !important;
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
}

.block {
  background: #222;
}

.glow {
  outline:none;
  box-shadow:0 0 10px #f7f2bb;
  border:5px solid #f7f2bb;
  max-height: 50px;
}


/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}


/* Sidebar */
.sidebar {
  min-width: 300px; /* Set the width of the sidebar */
  max-width: 300px;
  position: fixed;
  left: 0;
  top: 200px;
  bottom: 0;
  background-color: #343a40;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
  margin-right: 40px;
  display: flex;
  z-index: 1000;
}

.sidebar h3 {
  font-size: 1rem;
  text-align: center;
  height: 60px;
}

.class-list {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.class-stats {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.class-stats .schedule-input {
  background-color: #d9d8d3;
  color: black;
  width: 30%;
  position: relative;
  left: 35%;
}

#content {
  margin-top: 200px;
}

.title {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 100px;
  background-color: white;
  z-index: 1000;
}
